
.main-container {
    height: 100vh;
    width: 100vw;
    background-color: red;
}


.Text-Contact {
    display: flex;
    justify-content: center;
}


.main-informacion {
    display: flex;
    flex-direction: row;
    padding-top: 100px ;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    
    
}

#contacto {
    background-color: white;
    width: 300px;
    border: 1px solid black;
    border-radius: 2%;
    margin-bottom: 40px;
}


form {
    background-color: white;
    width: 300px;
    border: 1px solid black;
    border-radius: 2%;
    margin-bottom: 40px;
}

#promocion {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: burlywood;
    
}

.imagen-promocion {
    margin-top: 10px;
}

    

