

#section1 {
    
    display: flex;
    
    height: 600px;
    width: 80%;
    padding-left: 50px;
    padding-top: 50px;
}

#foto1 {
    display: flex;
    height: 400px;
    width: 300px;
    padding-top: 40px;
    padding-left: 170px;
    background-image: url(../assets/foto1.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 19px;
    border-color: black;
        
}

#texto1 {
    text-align: center;
    display: flex;
    position: relative;
    border-radius: 1px  black;
    line-height: 25px;
    width: 600px;
    height: 440px;
    margin-left: 50px;
    
    padding-top: 40px;

}

div img {
    border-radius: 19px;
    border-color: black;
}

#section2 {
    display: flex;
    
    height: 600px;
    width: 100vw;
}

#foto2 {
    display: flex;
    height: 400px;
    width: 400px;
    padding-top: 40px;
    padding-left: 100px;
}

#texto2 {
    text-align: justify;
    line-height: 25px;
    display: flex;
    width: 400px;
    padding-top: 100px;
    padding-left: 90px;
}


#section3 {
    display: flex;
    height: 500px;
    width: 100vw;
    background-color: aquamarine;
}

.testimonio-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






#seccion3-1{
 
   

}

#seccion3-2 {
   

}

#seccion3-3 {
    

}

#seccion3-4 {
    

}