

.container {
    display: flex;
    justify-content: space-between;
}

#section1 {

    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100vw;
}

#foto1 {
    display: flex;
    height: 400px;
    width: 400px;
    padding-top: 40px;
    padding-left: 170px;   
}

#texto1 {
    text-align: justify;
    display: flex;
    position: relative;
    width: 700px;
    padding-left: 400px;
    padding-top: 100px;
}

div img {
    border-radius: 19px;
    border-color: black;
}

#section2 {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100vw;
}

#foto2 {
    display: flex;
    height: 400px;
    width: 400px;
    padding-top: 40px;
    padding-left: 300px;
}

#texto2 {
    text-align: justify;
    display: flex;
    width: 600px;
    padding-top: 100px;
    padding-left: 90px;
}


#section3 {
    display: flex;
    height: 600px;
    width: 100vw;
    background-color: aquamarine;
}

.testimonio-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






#seccion3-1{
 
   

}

#seccion3-2 {
   

}

#seccion3-3 {
    

}

#seccion3-4 {
    

}