body {
    font-family: 'Arial', sans-serif;
    background-image: url(../assets/bg.jpg);
    margin: 0;
    padding: 0;
    width: 100vw;
}

header {
    height: 380px;
    width: 100vw;
    background-image: url(../assets/header.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

#section1 {
    height: 600px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#foto1 {
    display: flex;
    height: 400px;
    width: 400px;
    padding-top: 40px;
    padding-left: 40px;
    
}

#texto1 {
    display: flex;
    position: relative;
    width: 400px;
    padding-left: 400px;
    padding-top: 100px;
}
div img {
    border-radius: 19px;
    border-color: black;
}

#section2 {
    display: flex;
    height: 600px;
    width: 100vw;
}

#foto2 {
    display: flex;
    height: 400px;
    width: 400px;
    padding-top: 40px;
    padding-left: 750px;
}

#texto2 {
    display: flex;
    width: 400px;
    padding-top: 100px;
    padding-left: 90px;
}


#section3 {
    display: flex;
    height: 600px;
    width: 100vw;
}

.testimonio-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo img {
    max-height: 50px;
    display: flex;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    left: 0;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-left: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-weight: 700;
    color: #b3b2b1;
}
footer a {
    text-decoration: none;
    color: #b3b2b1;
}
.footer-img {
    scale: 0.5;
}