h2 {
    text-align: center;
}

.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-repeat: repeat;
    box-sizing: border-box
}

.sidebar {
    margin-bottom: 100px;
    margin-left: 30px;
    width: 25%;
    min-width: 400px;
    height: 78vh;
    text-align: center;
    align-self: flex-end;
    color: rgb(69, 70, 70);
    border-radius: 12px;
    border: 1px solid #8b8a8a;
    box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1)
}

.cards {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin-bottom: 30px;
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url(../assets/Foto_para_entrenamiento_personal.jpeg)
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url(../assets/Foto_para_entrenamiento_personal.jpeg)
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url(../assets/Foto_para_entrenamiento_personal.jpeg)
}

.card--4 .card__img,
.card--4 .card__img--hover {
    background-image: url(../assets/Foto_para_entrenamiento_personal.jpeg)
}

.card--5 .card__img,
.card--5 .card__img--hover {
    background-image: url(../assets/Landing_-_About_us_2.jpg)
}

.card--6 .card__img,
.card--6 .card__img--hover {
    background-image: url(../assets/plan-nutricion.jpg)
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.product-price-hover {
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0
}

.card__img--hover {
    transition: .2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0
}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1)
}

.card:hover {
    box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1) !important;
    transform: scale(1.10, 1.10) !important
}

.product-price {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px;
    color: #185193;
    font-size: 16px;
    justify-content: center;
    
}

.product-title {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    text-align: center;
    justify-content: center;

}



.card:hover .card__img--hover {
    height: 100% !important;
    opacity: .3 !important
}

.card:hover .product-price {
    background-color: transparent !important;
    position: relative !important
}

button {
    cursor: pointer;
    background-color: white;
    color: #185193;
    border: 2px solid #185193;
    border-radius: 8px;
}

span {
    display: flex;
    align-items: center;

}
.remove-from-cart {
    color: #ffffff;
    background-color: rgb(169, 9, 9);
    border: 2px solid #ffffff;
}